.menu-burger {
	text-align: center;
	img {
		width: 150px;
	}
}
.menu {
	text-align: center;
    list-style-type: none;
    li {
        background-color: $red;
        padding: 10px;
        &:hover {
            background-color: darken($red, 20%);
        }
    }
	a {
        text-decoration: none;
        font-size: 24px;
        color: $white;
    }    
    img {
        display: none;
    }
}

@media all and (min-width: 768px) {
    .menu-burger {
        display: none;
    }
    .menu {
        display: flex;
        justify-content: center;
        img {
            display: inline-block;
            width: 40px;
            height: 30px;
        }
    }
}